In [1]:
import pandas as pd

In [2]:
df = pd.read_excel(r'datos.xlsx', skiprows=1)

In [3]:
display(df)

  Nombre  Apellido  Edad      ID  Ventas  Trimestre
0   Juan     Perez    35  485976     300          1
1  Maria  Martinez    25  528791     500          1
2  Mario   Sanchez    30  471236     150          1
3   Juan     Perez    35  485976     250          2
4  Maria  Martinez    25  528791     150          2
5  Mario   Sanchez    30  471236     200          2

In [7]:
vendedores = df["Nombre"].unique().tolist()
print(vendedores)

['Juan', 'Maria', 'Mario']

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.describe()

In [6]:
display(df["Nombre"])

0     Juan
1    Maria
2    Mario
3     Juan
4    Maria
5    Mario
Name: Nombre, dtype: object

In [13]:
#Creacion de nuevo dataframe en pandas
dfNuevo = pd.DataFrame(columns=["Nombre", "Ventas", "Trimestre"]) 

vendedores = df["Nombre"].unique().tolist()
print(vendedores)

for indice in df.index:
    if df["Nombre"][indice] == vendedor1 or df["Nombre"][indice] == vendedor2:
        
        nuevaFila = {
            "Nombre": df["Nombre"][indice],
            "Ventas": df["Ventas"][indice],
            "Trimestre": df["Trimestre"][indice]
        }
        
        dfNuevo.loc[len(dfNuevo)] = nuevaFila
        
display(dfNuevo)
dfNuevo.to_excel("filtro.xlsx")

Ingrese el nombre del vendedorMario
Ingrese el nombre del vendedorJuan

  Nombre  Ventas  Trimestre
0   Juan     300          1
1  Mario     150          1
2   Juan     250          2
3  Mario     200          2